@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4 size-text">Welcome to clothBuy</h2>
</div>
<div class="image-row">
    <img class="image-style"src="~/images/cl1.jpg" alt="cl1"/>
    <img class="image-style"src="~/images/cl2.jpg" alt="cl2"/>
    <img class="image-style"src="~/images/cl3.jpg"alt="cl3"/>
</div>
<div class="image-row">
    <img class="image-style" src="~/images/cl4.jpg" alt="cl4" />
    <img class="image-style" src="~/images/cl5.jpg" alt="cl5" />
    <img class="image-style" src="~/images/cl6.png" alt="cl6" />
</div>
<style>
    .size-text{
        font-size:larger;
        color:brown;
        font-family: 'Comic Sans MS'; /*sans-serif為襯線字體表示在字母端不用任何裝飾*/
    }

</style>